In [4]:
import pandas as pd

In [6]:
data = pd.read_excel("/Users/annie/Documents/GitHub/Python-libraries-playground/datasets_xlsx/big_mart_sales.xlsx")
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009.0,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998.0,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987.0,High,Tier 3,Supermarket Type1,994.7052

Challenges with reading excel files

Challenge 1: Reading excel files with multiple sheets

In [10]:
data_with_multiple_sheets = pd.read_excel("/Users/annie/Documents/GitHub/Python-libraries-playground/datasets_xlsx/big_mart_sales_with_multiple_sheets.xlsx")
data_with_multiple_sheets.head() #only reads the first sheet

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985.0,Medium,Tier 3,Supermarket Type3,4022.7636
1,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985.0,Medium,Tier 3,Supermarket Type3,2303.6680
2,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985.0,Medium,Tier 3,Supermarket Type3,4064.0432
3,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985.0,Small,Tier 1,Grocery Store,214.3876
4,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985.0,Small,Tier 1,Grocery Store,125.8362

In [12]:
sheet_1985 = pd.read_excel("/Users/annie/Documents/GitHub/Python-libraries-playground/datasets_xlsx/big_mart_sales_with_multiple_sheets.xlsx", sheet_name = "1985")
sheet_1987 = pd.read_excel("/Users/annie/Documents/GitHub/Python-libraries-playground/datasets_xlsx/big_mart_sales_with_multiple_sheets.xlsx", sheet_name = "1987")
sheet_1997 = pd.read_excel("/Users/annie/Documents/GitHub/Python-libraries-playground/datasets_xlsx/big_mart_sales_with_multiple_sheets.xlsx", sheet_name = "1997")

Concatinate these sheets

In [15]:
sheets_list = [sheet_1985, sheet_1987, sheet_1997]
final_data = pd.concat(sheets_list)
final_data.shape

(3325, 12)

Challenge 2: Skipping rows using skiprows

In [ ]:
data_skiprows = pd.read_excel("/Users/annie/Documents/GitHub/Python-libraries-playground/datasets_xlsx/big_mart_sales_comments.xlsx", skiprows=3)
data_skiprows.head()

 Challenge 3: Multiple directory