In [40]:
import pandas as pd

In [41]:
data = pd.read_json("/Users/annie/Documents/GitHub/Python-libraries-playground/datasets_json/simple.json")
data.head()

      name  age grade
0    Andew   12     A
1   Bhuvan   18     B
2  Clinton   11     A
3    Drake   12     C
4    Eisha   13     B

Challenges in reading JSON files

Challenge 1: Few JSON files are in different format where each line is a JSON

In [42]:
data_lines = pd.read_json("/Users/annie/Documents/GitHub/Python-libraries-playground/datasets_json/simple_records.json", lines = True)
data_lines.head()

      name  age grade
0    Andew   12     A
1   Bhuvan   18     B
2  Clinton   11     A
3    Drake   12     C
4    Eisha   13     B

Challenge 2: Trying to read nested JSON

In [43]:
import json

In [44]:
with open("/Users/annie/Documents/GitHub/Python-libraries-playground/datasets_json/nested.json") as f:
    json_data = json.load(f)
json_data

[{'student_roll_no': 101,
  'details': {'name': 'Andew', 'age': 12, 'grade': 'A'}},
 {'student_roll_no': 102,
  'details': {'name': 'Bhuvan', 'age': 18, 'grade': 'B'}},
 {'student_roll_no': 103,
  'details': {'name': 'Clinton', 'age': 11, 'grade': 'A'}},
 {'student_roll_no': 104,
  'details': {'name': 'Drake', 'age': 12, 'grade': 'C'}},
 {'student_roll_no': 105,
  'details': {'name': 'Eisha', 'age': 13, 'grade': 'B'}},
 {'student_roll_no': 106,
  'details': {'name': 'Farhan', 'age': 22, 'grade': 'C'}},
 {'student_roll_no': 107,
  'details': {'name': 'Garima', 'age': 11, 'grade': 'A'}},
 {'student_roll_no': 108,
  'details': {'name': 'Himanshu', 'age': 19, 'grade': 'A'}},
 {'student_roll_no': 109,
  'details': {'name': 'Ishaan', 'age': 10, 'grade': 'D'}},
 {'student_roll_no': 110,
  'details': {'name': 'Jason', 'age': 9, 'grade': 'B'}}]

In [45]:
from pprint import pprint

In [46]:
pprint(json_data) #Pretty Print

[{'details': {'age': 12, 'grade': 'A', 'name': 'Andew'},
  'student_roll_no': 101},
 {'details': {'age': 18, 'grade': 'B', 'name': 'Bhuvan'},
  'student_roll_no': 102},
 {'details': {'age': 11, 'grade': 'A', 'name': 'Clinton'},
  'student_roll_no': 103},
 {'details': {'age': 12, 'grade': 'C', 'name': 'Drake'},
  'student_roll_no': 104},
 {'details': {'age': 13, 'grade': 'B', 'name': 'Eisha'},
  'student_roll_no': 105},
 {'details': {'age': 22, 'grade': 'C', 'name': 'Farhan'},
  'student_roll_no': 106},
 {'details': {'age': 11, 'grade': 'A', 'name': 'Garima'},
  'student_roll_no': 107},
 {'details': {'age': 19, 'grade': 'A', 'name': 'Himanshu'},
  'student_roll_no': 108},
 {'details': {'age': 10, 'grade': 'D', 'name': 'Ishaan'},
  'student_roll_no': 109},
 {'details': {'age': 9, 'grade': 'B', 'name': 'Jason'}, 'student_roll_no': 110}]

In [47]:
json_data[0]

{'student_roll_no': 101, 'details': {'name': 'Andew', 'age': 12, 'grade': 'A'}}

In [48]:
json_data[0]["details"]["age"]

12

In [49]:
filter = []

for json in json_data:
    filter_json = {}
    if json['details']['age'] > 15:
        filter_json['age'] = json['details']['age']
        filter_json['name'] = json['details']['name']
        filter.append(filter_json)
filter

[{'age': 18, 'name': 'Bhuvan'},
 {'age': 22, 'name': 'Farhan'},
 {'age': 19, 'name': 'Himanshu'}]

In [51]:
import json
with open("/Users/annie/Documents/GitHub/Python-libraries-playground/datasets_json/filtered.json", 'w') as f:

    json.dump(filter, f, indent = 4)